nav {
    z-index: 20;
    font-size: smaller;
}

.nav-item {
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.nav-item:not(.has-submenu):not(:last-child):hover {
    border-bottom: 1px solid #aaa;
}

.nav-item:not(.submenu-item) {
    display: inline-block;    
}

.nav-item.has-submenu::before {
    content: "\25B9";
}

.nav-item.has-submenu:hover::before {
    content: "\25BF";
}

.nav-item.has-submenu {
    cursor: default;
}

.nav-item.has-submenu > span.nav-item-text {
    padding-left: 8px;
}

.nav-menu-link:hover {
    text-decoration: none;
}

.nav-submenu-container {
    display: none; /* Shows on hover */
    position: absolute;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}